.div_p{
    color: black;
    font-size: 20px;
    margin: 50px 100px;
     font-family: Roboto;
}
.div_span{
    color: grey;
   
}
.div_p2{
 font-size: 35px;
 font-family: Roboto;
 margin: 100px;
 margin-top: -40px;

}
.div_span2{
 font-size: 20px;
 
}
.section_div{
    
background: #FFFFFF;
box-shadow: 0px 3px 6px rgba(157, 157, 157, 0.16);
border-radius: 12px;
width: 30%;
height: 150px;
margin: 150px;

}
.div_p3{
    color: black;
    font-size: 20px;
    margin: 50px 100px;
     font-family: Roboto;
}
.div_span3{
    color: grey;
   
}
.div_p4{
 font-size: 35px;
 font-family: Roboto;
 margin: 100px;
 margin-top: -40px;

}
.div_span4{
 font-size: 20px;
 
}
.section_div2{
    
background: #FFFFFF;
box-shadow: 0px 3px 6px rgba(157, 157, 157, 0.16);
border-radius: 12px;
width: 30%;
height: 150px;
margin: 150px;

}
.div_p5{
    color: black;
    font-size: 20px;
    margin: 50px 100px;
     font-family: Roboto;
}
.div_span5{
    color: grey;
   
}
.div_p6{
 font-size: 35px;
 font-family: Roboto;
 margin: 100px;
 margin-top: -40px;

}
.div_span6{
 font-size: 20px;
 
}
.section_div3{
    
background: #FFFFFF;
box-shadow: 0px 3px 6px rgba(157, 157, 157, 0.16);
border-radius: 12px;
width: 30%;
height: 150px;
margin: -100px;

}
.div_p7{
    color: black;
    font-size: 20px;
    margin: 50px 100px;
     font-family: Roboto;
}
.div_span7{
    color: grey;
   
}
.div_p8{
 font-size: 34px;
 font-family: Roboto;
 margin: 100px;
 margin-top: -40px;

}
.div_span8{
 font-size: 20px;
 
}
.section_div4{
    
background: #FFFFFF;
box-shadow: 0px 3px 6px rgba(157, 157, 157, 0.16);
border-radius: 12px;
width: 30%;
height: 150px;
margin: -100px;

}
.section{
    display: flex;
    justify-content: space-around;
}
.section2{
    display: flex;
    justify-content: space-around;
}